# Wordle Cup 

### Tournament Draw

---

<br>

This code simulates a random draw to sort participants in 2 groups of 4 players.
Running this code will yield different results every time.

In [1]:
import numpy as np
import pandas as pd
import string, itertools

In [2]:
class GroupDraw(object):
    
    def __init__(self, pools, positions):
        
        self.nb_pools     = pools
        self.nb_positions = positions
        
        groups    = np.array(list(string.ascii_uppercase)[:pools])
        placement = np.arange(positions)+1
        combinations = list(itertools.product(groups, placement.astype(str)))
        
        self.available_ = [''.join(c) for c in combinations]
        self.__update__()
        self.draw_ = dict() 
        
        return
    
    def __update__(self):
        self.table = np.array(self.available_).reshape((self.nb_pools, self.nb_positions)).T
        return
    
    def top_seed(self, pot):
        choice = np.random.choice(self.table[0], self.nb_pools, replace=False)
        self.draw_.update({k:v for k,v in zip(pot, choice)})
        self.nb_positions -= 1
        self.available_ = [avl for avl in self.available_ if avl not in choice]
        self.__update__()
        return
        
    def draw(self, contestants):
        order  = np.random.choice(contestants, len(contestants), replace=False)
        choice = np.random.choice(self.table.flatten(), len(contestants), replace=False)
        self.draw_.update({k:v for k,v in zip(order, choice)})
        return
    
    def show_result(self, group):
        
        reverseDict = {value:key for key, value in gp.draw_.items()}
        sortedDict  = {key:value for key, value in sorted(reverseDict.items())}
        
        df = pd.DataFrame.from_dict(sortedDict, orient='index').rename({0:'participant'}, axis=1)
        df['group'] = [i[0] for i in list(df.index)]
        
        return df[df['group']==group]['participant'].to_frame()

<br>
<br>

---

<br>

### Draw Parameters

<br>

Fix the number of groups, number of positions per group, and the list of ranked players. The top players will be seeded in a common pot to ensure they do not face off each other in the group stage. For the remaining players, the draw consists of selecting a random group and a random position until every spot is filled.

In [3]:
nbPools     = 2
nbPositions = 4
ranked_participants = [
    'Tom',
    'Colleen',
    'Anne-Marie',
    'Julien',
    'Elizabeth',
    'Carly',
    'Edward',
    'TBD'
]

<br>
<br>

---

<br>

### Draw Simulation

<br>

To run the draw, activate the following cell.

In [4]:
gp = GroupDraw(
    pools=nbPools,
    positions=nbPositions
)
gp.top_seed(pot=ranked_participants[:2])
gp.draw(contestants=ranked_participants[2:])

<br>
<br>

---

<br>

### Outcome

<br>

Visualise the outcome of the draw for each group

In [5]:
gp.show_result(group='A')

   participant
A1     Colleen
A2  Anne-Marie
A3      Edward
A4      Julien

In [6]:
gp.show_result(group='B')

   participant
B1         Tom
B2   Elizabeth
B3       Carly
B4         TBD